Options +Multiviews 
RewriteEngine On 
Options -Indexes 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^([^\.]+)$ $1.php [NC,L] 
AddType application/x-httpd-php .php 
AddDefaultCharSet UTF-8
